---

# Ansible
# ansible_user: root
ansible_python_interpreter: /usr/bin/python3

# Docker
docker_version: "5:19.03"

# Kubernetes
kube_version: "1.19"
cni_version: "0.8.7"
master_ip: "{{ hostvars[groups['master'][0]]['ansible_default_ipv4'].address | default(groups['master'][0]) }}"
network_dir: /etc/kubernetes/network
kubeadmin_config: /etc/kubernetes/admin.conf

# Helm
helm_version: "3.3/stable"

# Go
go_version: "1.15.3"
golangci_lint_version: "v1.18.0"

# Node and NPM
node_version: "10.16.3"
npm_version: "6.14.8"
eslint_version: "5.16.0"