*~
.swp
.bak
node_modules/
pkg/
vendor/
dist/
sw/apps/edge-ar-vr/demo-ui/rest-svr-go/edge-ar-vr-demo-ui-svr
sw/apps/edge-ar-vr/edge-app/rest-svr-go/edge-ar-vr-edge-app-svr
sw/apps/edge-orientation-svc/orientation-svc
sw/apps/demo-svc-app/server/demo-svc-app-svr
sw/apps/demo-svc-app/iperf-transit/server/iperf-transit-app-svr
sw/meep/mec-svc/location-svc/rest-svr-go/loc-api-svc-svr
sw/meep/controller/ctrl-engine/server/bin/meep-ctrl-engine
sw/meep/controller/virt-engine/server/bin/meep-virt-engine
sw/meep/controller/tc-engine/server/bin/meep-tc-engine
sw/meep/controller/tc-sidecar/bin/meep-tc-sidecar
sw/meep/controller/mon-engine/server/bin/meep-mon-engine
sw/meep/controller/mg-manager/server/bin/meep-mg-manager
sw/meep/controller/initializer/meep-initializer
sw/test/edge-ar-vr/build.txt
