# Default values for meep-rnis.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

serviceAccount: meep-rnis

deployment:
  replicas: 1
  port: 80
  protocol: TCP
  dependency: kube-dns

image:
  repository: meep-docker-registry:30001/meep-rnis
  tag: latest
  pullPolicy: Always
  env:
    MEEP_SANDBOX_NAME: {{ .SandboxName }}
    MEEP_HOST_URL: {{ .HostUrl }}
    MEAS_REP_UE_PERIODIC_TRIGGER_INTERVAL: 1s
    NR_MEAS_REP_UE_PERIODIC_TRIGGER_INTERVAL: 1s

service:
  name: meep-rnis
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  hosts:
    - name: ''
      paths:
        - /{{ .SandboxName }}/rni
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/force-ssl-redirect: {{ .HttpsOnly }}
    nginx.ingress.kubernetes.io/configuration-snippet: |
      rewrite ^/{{ .SandboxName }}/rni(/|$)(.*)$ /rni/$2 break;
    {{- if .AuthEnabled }}
    nginx.ingress.kubernetes.io/auth-url: https://$http_host/auth/v1/authenticate?svc=meep-rnis&sbox={{ .SandboxName }}
    {{- end }}
  labels: {}
  tls:

prometheus:
  monitor:
    enabled: true
    port: 9000
    interval: 10s
    additionalLabels: {}
    relabelings: []
    scrapeTimeout: 5s
    
codecov:
  enabled: false
  location: "<WORKDIR>/codecov/meep-rnis"

meepOrigin: core
